.badge {
	display: inline-block;
	padding: .55em .7em;
	font-size: 0.7rem;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;

	&-primary {
		color: #fff;
		background-color: #111;
	}

	&-info {
		color: #555;
		background:#c9c9ff;
	}

	&-action {
		color:#fff;
		background:$brandDeepBlue;
	}

	&-delete {
		color:#fff;
		background:$buttonRed;
	}
}