@font-face {
	font-family: "Datitude";
	src: url('/fonts/datitude/Datitude.eot');
	src: url('/fonts/datitude/Datitude.eot?#iefix') format('eot'),
		url('/fonts/datitude/Datitude.woff') format('woff'),
		url('/fonts/datitude/Datitude.ttf') format('truetype'),
		url('/fonts/datitude/Datitude.svg#Datitude') format('svg');
}

@mixin icon-styles {
	font-family: "Datitude";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == cancel28 {
		$char: "\E001";
	}
	@if $filename == edit18 {
		$char: "\E002";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-cancel28 {
	@include icon(cancel28);
}
.icon-edit18 {
	@include icon(edit18);
}
