* {
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

h1, h2 {
    margin-bottom: 30px;
    font-size:1.5rem;
    font-weight: normal;
}

h2 {
    font-size: 1.2rem;
    color:$veryDarkGrey;
    font-weight: 300;
}

a {
    color:$brandDarkBlue;

    &:active, &:focus, &:hover {
        color:$brandDarkBlue;
        text-decoration: none;
    }
}

small {
    font-size:69%;
}

.lead {
    background: #dedede;
    padding: 30px 0;
    box-shadow: inset 0px 11px 12px -10px #666, inset 0px -11px 12px -10px #666;
    width: 100%;

    &.empty-table {
        min-height: 200px;
        text-align: center;
    }
}

.highlight-user {
    font-weight: 400;
}
