// Colours
$veryVeryLightGrey: #fcfcfc;
$veryLightGrey: #eee;
$lightMediumGrey: #999;
$mediumGrey: #888;
$darkGrey: #444;
$dark000Grey: #404040;
$veryDarkGrey: #333;
$veryVeryDarkGrey: #555;
$midMediumGrey: #666;
$midMedium777Grey: #777;
$normalGrey: #cecece;
$darkestGrey: #222;
$extractGrey: rgba(255, 255, 255, 0.4);

$dashboardBackgroundGrey: #fafafa;

$green: #04b90c;
$red: #b90404;

// Brand colours
$brandDarkBlue: #57afb3;
$brandDeepBlue: #5bb7bb;
$brandMidBlue: #85cccf;

$brandDarkYellow: #f5b622;
$brandLightYellow:#f8c04c;

$brandDarkGreen:#a9c739;
$brandLightGreen:#b6ce58;

$brandDarkPink:#ea2e8e;
$brandLightPink:#ed619e;

$brandBlue:#57afb4;
$brandLightBlue:#75b9be;

// Buttons
$buttonRed: #d9534f;

// Overlays
$success: #7bba7c;
$error: #b77171;

// File upload
$lightGreyBlue:#c8dadf;
$darkGreyBlue: #92b0b3;

$awesomeRed: #ff5252;

// Breakpoints
$mobileBreakpoint: 544px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 992px;
$largeDesktopBreakpoint: 1200px;
