.admin-table {
    width:100%;

    tr {
        font-size: 0.8rem;
        height:4rem;
        border-bottom:1px solid $veryVeryDarkGrey;

        &:last-child {
            border-bottom:0;
        }

        td {
            padding:10px;
        }
    }

    thead {
	    
	    .user-settings & {
		    @media (max-width: $mobileBreakpoint) {
			    display: none;
		    }
	    }
	    th {
		    padding:10px;
		    line-height: 1rem;
		    vertical-align: middle;
		    border:0;
		    cursor:pointer;
		    color:#999;
	    }

        tr {
            text-transform: uppercase;

            td {
                color:$normalGrey;
                padding:10px;
            }
        }
    }

    tbody {
        tr {
	        .user-settings & {
		        @media (max-width: $mobileBreakpoint) {
			        text-align:center;
		        }
	        }

            td {
                color:$normalGrey;
	            border-bottom:1px solid #555;
	            border-top:1px solid #555;
	            vertical-align: middle;

	            .user-settings & {
		            @media (max-width: $mobileBreakpoint) {
			            width:100% !important;
			            display: block;
		            }
	            }
	            
                &:last-child {
                    width:45%;

                    @media (min-width: $tabletBreakpoint) {
                        width:auto;
                        position: relative;

                        [data-js-admin-task="edit"].fixed-position, [data-js-user-task="true"].fixed-position {
                            position: absolute;
                            top:18px;
                        }

                        [data-js-admin-task="edit"].fixed-position {
                            left:0;
                        }

                        [data-js-user-task="true"].fixed-position {
                            left:60px;
                        }
                    }
                }

                .btn {
                    padding:0.1rem 0.4rem;
                    text-transform: uppercase;
                    font-size: 0.9rem;

	                .user-settings & {
		                @media (max-width: $mobileBreakpoint) {
			                padding:0.8rem 1.5rem;

	                        &-underline {
				                margin-bottom:0;
			                }
		                }
	                }
                }

                a {
                    color:#fff;
                    border-bottom: 1px solid;

                    &.btn {
                        border-bottom:0;
                    }
                }

                &.user-contexts {
                    position: relative;

                    i {
                        cursor:pointer;
                        font-size:1.5rem;
                    }

                    .role-name {
                        display: block;
                    }
                    span {
                        display: block;
                    }
                }

                .icon-link {
                    border:0;

                    i {
                        position: relative;
                        top:7px;
                    }
                }
            }
        }
    }

    &.admin-roles {
        text-transform: uppercase;
    }

    [data-js-user] {
        .role-choice, [data-js-admin-task="save"], [data-js-admin-task="cancel"], .user-contexts i {
            display: none;
        }

        .role-choice {
            select {
                color:#000;
            }
        }

        td {
            position: relative;
            width:16%;
        }

        &.active-edit {
            .role-name, [data-js-admin-task="edit"], [data-js-admin-task="delete"], [data-js-admin-task="deactivate"], [data-js-admin-task="activate"] {
                display: none;
            }

            .role-choice, [data-js-admin-task="save"], [data-js-admin-task="cancel"], .user-contexts i {
                display: inline-block;
            }
        }
    }

    .role-admin {
        color:$brandLightGreen;
    }

    .role-datitude-admin {
        color:$brandLightYellow;
    }
}

.app-settings {
    [data-js-user] {
        td {
            width:25%;
        }
    }
}

.app-settings .admin-table tbody .inactive-user td {
    color: #666;

	.role-name {
		color: #666;
	}
}

[data-js-create-field] {
    display: none;
}

[data-js-clientfeatures] {
    h1 {
	    color: #fff;
	    border-bottom: 1px solid #555;
	    padding: 15px;
    }

    .btn-danger {
        display: none;
    }
}
