.audit-history {
    @include popup(true,false);

    @media (min-width: $desktopBreakpoint) {
        width:90%;
        height: 90%;
        overflow: hidden;
    }

    &-container {
        overflow: auto;
        height:92%;
    }

    &.active {
        right:0;
    }

    h2 {
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 30px;
        color:#999;

        i {
            position: relative;
            top:5px;
        }
    }

    p {
        padding-bottom:20px;
        border-bottom:1px solid #ccc;
    }

    &-entry {
        background: #444;
	    margin-bottom: 10px;
        color:#999;
        padding:20px;
        position: relative;

        &:last-child {
            border-bottom:0;
        }

        h3 {
            font-weight: 100;
            font-size: 1.3rem;

            strong, small {
                font-weight: 200;
            }

            small {
                position: relative;
                top:-3px;
                text-transform: uppercase;
                font-size: 0.9rem;
            }
        }

	    date {
		    display: block;
	    }

	    pre {
		    background: #ffbdbd;
		    color:$veryDarkGrey;
		    padding:10px;
		    margin-top: 5px;
		    border-radius: 3px;
		    padding:15px 0 0 0;
		    max-height:300px;

		    &.new-record-content {
			    background:#e1f7d5;
		    }
	    }

        .action {
            text-transform: uppercase;
	        color:#fff;

            &-delete {
	            background:$buttonRed;
            }
            &-create {
	            background:$brandDarkGreen;
            }
            &-update {
	            background:$brandDarkYellow;
            }
        }

        .action-record {
            display: block;
            margin-top: 20px;
        }
    }
}

pre.record-module {
	margin: 20px 0;
}

.no-history {
    height: 200px;
    background: #222;
    border-radius: 15px;
    color: #777;
    text-align: center;
    vertical-align: middle;
    padding-top: 41px;
    font-size: 2rem;

    i {
        position: relative;
        top:22px;
        font-size: 4rem;
    }

    strong {
        font-weight: 400;
    }
}

.audit-confirmation {
	text-align: center;
	padding:50px 0;
	color:#fff;
}

[data-js-load-more-audits] {
	width:200px;
}

.audit-history-container {
	.pagination-top {
		text-align:center;
	}
}