.campaigns-action {
	color:$awesomeRed;
	cursor:pointer;

	&:hover {
		color:$awesomeRed;
	}

	span {
		position: relative;
		top:-5px;
	}
}

.mailing-cost {
	.badge {
		position: absolute;
		right:0;
	}
}

.query-selector-results {
	@include clearfix();
	border-top:1px solid #555;
	border-bottom:1px solid #555;
	padding:11px 11px 0 11px;
	background: #444;

	> * {
		float: left;
		margin-right: 15px;
	}

	.btn {
		margin-top:22px;
	}

	label {
		position: relative;
		top: -12px;
		margin-bottom: 1px;
		margin-top:18px;
		float:right;
		text-align:center;
		
		strong {
			display: block;
			font-size: 2rem;
			position: relative;
			top: 7px;
		}
	}
}

.sub-module-with-sidebar {
	@include clearfix();

	h1 {
		color:#cecece;
	}

	.sub-module-sidebar {
		float:left;
		width:30%;
		color:#cecece;

		ul {
			list-style-type: none;

			li {
				font-size:0.8rem;

				strong {
					margin-top:25px;
					display: block;
					text-transform: uppercase;
					color:#777;
				}

				span {
					display: block;
					color:#fff;
				}

				&:first-child {
					strong {
						margin-top:0;
					}
				}
			}
		}
	}

	.campaigns-action {
		position: absolute;
		right: 30px;
		top:40px;
		color: $brandLightGreen;
	}

	.datalist-viewport {
		float:left;
		width:70%;

		.datalist-view {
			td,th {
				min-width:auto;
			}
		}

		.badge {
			color:#cecece;
			padding:15px;
		}
	}

	.segments-back-button {
		i {
			position: relative;
			top: 5px;
		}
	}
}