.filter-bar {
    display:inline-block;
    margin-bottom:0;
    bottom:2px solid;
	padding-bottom:10px;

	@media (max-width: $tabletBreakpoint) {
		float:left;
	}

    &.active {
        left:-1px;
    }

    > h3 {
        color:#fff;
        display: inline-block;
        font-size: 0.8rem;
        margin-right: 15px;
        text-transform: uppercase;
        position: relative;
        top: -4px;
    }

    .filter {
        @include clearfix();
        margin-top:30px;
        padding:20px;

        &:first-child {
            margin-top:0;
        }

        h3 {
            position: absolute;
            top: 15px;
            font-weight: 300;
            color:#fff;
        }

        label {
            margin-bottom:20px;
        }

        &-icons {
            padding:0;
            margin:0;

            li {
                margin-bottom: 10px;
	            margin-left:2px;
	            list-style-type: none;

	            @media (max-width: $tabletBreakpoint) {
		            float:left;
		            margin:0 5px;
	            }

                i {
                    position: relative;
                    top:3px;
                }
            }
        }

        &-contents {
            @include centerElement(true,false);
            position: fixed;
            background: #222;
            z-index: 2;
            top:10%;
            left:50%;
            width:540px;

            @media (max-width: $mobileBreakpoint) {
                width:100%;

                .search-filter input {
                    width:100%;
                }

                .search-filter .btn {
                    width: 100%;
                    border-radius: 0;
                    margin-top: 10px;
                    height: 60px;
                }
            }

            .filter {
                display: none;

                span.in-between {
                    color:#fff;
                }
            }
        }
    }

    .search-filter {
        @include clearfix();

        select {
          height:85px;
        }

        input, select {
            font-size: 2rem;
            padding:17px;
            width:80%;
            float:left;

            @media (min-width: $desktopBreakpoint) {
                width:83%;
            }

            &::-webkit-input-placeholder {
               font-weight: 300;
               font-size:2rem;
            }

            &:-moz-placeholder {
                font-weight: 300;
                font-size:2rem;
            }

            &::-moz-placeholder {
                font-weight: 300;
                font-size:2rem;
            }

            &:-ms-input-placeholder {
                font-weight: 300;
                font-size:2rem;
            }
        }

        form {
            margin-top: 40px;
        }

        .oi {
            top:15px;
        }

        .btn {
            height:84px;
            border-top-left-radius:0;
            border-bottom-left-radius:0;
        }
    }

    .range-filter {
	    .in-between {
		    position: relative;
		    float:left;
		    top: 0;
		    left: 20px;

		    i {
			    position: relative;
			    top:7px;
		    }
	    }

        input {
            min-width: auto;
            text-align:center;
        }
    }

    .date-filter {
        &-inputs {
            @include clearfix();
        }

        &-actions {
            @include clearfix();
            text-align: right;
            margin-top: 10px;
        }

        input {
            cursor:pointer;
        }
    }

    .cost-filter {

        &-inputs {
            margin-top: 30px;
        }

        .in-between {
            top:0;
            color:#fff;
        }

        input {
            position: relative;
            top:-6px;
            border:0;
            padding:0;
            background:$darkGrey;
            color:#fff;
            float:left;
            width:15%;
        }

        #costMax {
            float:right;
            top:-19px;
        }

        .cost-filter-actions {
            clear:both;
        }
    }

    .active-filter {
        float:right;
        clear:right;

        h5 {
            color:$mediumGrey;
            font-size:0.9rem;
            text-transform: uppercase;
        }

        a {
            i {
                top: -1px;
                right: 0px;
                font-size: 0.6rem;
            }
        }
    }

    .campaign-filter select {
          -webkit-appearance: none;
          -webkit-border-radius: 0px;
          height: 84px;
    }
}

.result-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 69%);
    color:#cecece;
}