.page-footer {
    text-align: center;
    padding:15px 0;
    position: relative;

    .track-link {
        i {
            position: relative;
            top:6px;
        }
    }

    .pages {
        display: inline-block;
        padding:0;
	    margin-bottom:0;

        li {
            list-style-type:none;
            display: inline-block;
            font-size: 1.2rem;

            &.current-page {
                border: 1px solid #999;
                border-radius: 25px;

                a {
                    color:$brandLightBlue;
                }
            }

            a {
                color:#999;
                padding: 5px 14px;
                display:block;
            }
        }
    }

	.pagination-filler {
		color:#999;
	}
}
