.header-notifications-container {
	right: -390px;
	position: fixed;
	left: auto;
	top: 0;
	z-index: 1;
	height: 100%;
    background: #222;
    padding:15px 20px;
    box-shadow: inset 1px 0px 13px rgba(0, 0, 0, 0.75);
	transition: right 0.3s;
	overflow: scroll;

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 11px 12px 11px;
        border-color: transparent transparent #fefefe transparent;
        position: absolute;
        top:-12px;
        right:41px;
    }

    h2 {
        color:#ccc;
        text-align: center;
	    margin-bottom: 14px;
	    font-size: 1rem;

	    span {
		    padding:0 5px;
	    }
    }

    ul {
        padding:0;
        margin:0;
    }

    .notification {
        list-style-type: none;
        margin:0;
        border-radius: 0;
        background:#111;
        color:#eee;
        box-shadow: none;
        margin-bottom:27px;
        padding:20px 45px 20px 28px;

        &:last-child {
            margin-bottom:0;
        }

        time {
            font-size: 0.6rem;
            text-transform: uppercase;
        }

        .content {
            border:0;
            padding:0;
            margin:0;
            max-width:285px;
            word-wrap: break-word;

            small {
                font-size:0.8rem;
            }

            a {
                color:#eee;
                text-transform: none;
            }
        }

        &-actions, &-type {
            position: absolute;
            top: 50%;
            right: 15px;

            i {
                color:#cecece;
                cursor:pointer;

                &:hover {
                    color:#444;
                }
            }
        }

	    &-actions {
		    i {
			    position: relative;
			    font-size: 1.3rem;
			    top:-28px;
		    }
	    }

        &-type {
            right:auto;
            left:-11px;
	        top:0;

	        i {
		        font-size:2rem;
	        }
        }

	    &.data_extract {
		    .notification-type i {
			    color:$brandDarkYellow;
		    }
	    }

	    &.extract_tool {
		    .notification-type i {
			    color:$brandDarkBlue;
		    }
	    }
    }

	&.active {
		right: 0;
		transition: right 0.3s;
	}
}

.user-nav .notifications-nav {
    @include clearfix();
    position: relative;
    float: left;
    padding-bottom:11px;

    a.nav-item:last-child {
        margin-right:7px;

        &:after {
            content:'|';
        }
    }
}

body {
	position: relative;
	left:0;
	transition: left 0.3s;

	&.active-notifications {
		width:100%;
		position: fixed;
		left: -390px;
		transition: left 0.3s;
	}
}

.close-notifications {
	position: absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}

.form-notification {
	font-size:0.8rem;
	padding:15px;
	text-align:center;
	background:$brandDarkYellow;
	color:#000;
	border-radius: 3px;

	.time-between {
		font-weight: bold;
		font-style: 1rem;

		&.invalid-date {
			color:$awesomeRed;
		}
	}
}