[data-content="store-locations"] {
	position: relative;
}

form[data-store-attribution] {
	@include centerElement(true,true);
	display: none;
	position: absolute;
	z-index: 1;
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;
	margin-top:0;
	border: 1px solid #777;
	border-radius: 5px;
}

.store-actions {
	position: relative;

	[data-form-sub-action="create"] {
		color:$brandDarkGreen;
		span {
			position: relative;
			top:-7px;
		}
	}
}